<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rider Shoes</title>

    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/slider.css">
    <link rel="stylesheet" href="/css/userbody.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/whatsapp.css">

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/js/rendomsidebar.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">

    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        brand: {
                            light: '#F3E8FF', /* Very light purple */
                            DEFAULT: '#C084FC', /* Medium Purple */
                            dark: '#6B21A8', /* Deep Purple for text */
                            accent: '#A855F7'
                        }
                    }
                }
            }
        }
    </script>
    
</head>

 <!-- ========================== Header ============================================-->
<body class="text-gray-800 font-sans">
<%- include('../partials/userHeader') %>
<!-- +++++++++++++++++++++++++++  Slider Banner +++++++++++++++++++++++ -->
 <div class="mbanner">
 

    <div class=" mx-auto">
        
        <!-- Banner Wrapper -->
        <div class="banner-container shadow-3xl">
            
            <!-- Slide 1 -->
            <div class="banner-slide active" data-index="0">
                <img src="images/b1.jpg" 
                     class="w-full h-full object-cover" 
                     alt="Placeholder Image 1: Feature A">
            </div>

            <!-- Slide 2 -->
            <div class="banner-slide" data-index="1">
                <img src="images/b3.jpg" 
                     class="w-full h-full object-cover" 
                     alt="Placeholder Image 2: Feature B">
            </div>

            <!-- Slide 3 -->
            <div class="banner-slide" data-index="2">
                <img src="images/b2.jpg" 
                     class="w-full h-full object-cover" 
                     alt="Placeholder Image 3: Feature C">
            </div>


            <!-- Navigation Buttons -->
            <div class="absolute inset-0 flex items-center justify-between p-4 z-20">
                <button id="prevBtn" 
                        class="transition shadow-lg opacity-70 hover:opacity-100 disabled:opacity-30 disabled:cursor-not-allowed">
                </button>
                <button id="nextBtn" 
                        class=" transition shadow-lg opacity-70 hover:opacity-100 disabled:opacity-30 disabled:cursor-not-allowed">
                </button>
            </div>
            
        </div>
        
        <!-- Pagination Dots -->
        <div id="pagination" class="flex justify-center space-x-2 mt-4">
            <!-- Dots will be generated here by JS -->
        </div>
        
    </div>

</div>

   

<!-- =========== 2nd Header -->
   
 <%- include('../partials/secondHeader') %>
    <!-- ==================== Products -------------------------- Destop-->

    
<section class="bodycontanerdes" style="margin-top: -3.3rem;"> 

  <div style="display: flex; justify-content: center; align-items: center; margin-top: 3rem;">
   <div class="catagourypt3tab">
         <div class="catagoury1"> CATEGORIES</div>
   </div>
</div>


  <div class="allservicesdes" style="display: flex; justify-content: center; align-items: center; gap: 2rem;">
    <a href="/luxuryBoysWatches">
        <div class="eachservices" style="width: 18rem; height: 22rem; padding: 1rem;" >
        <div class="eachservices111" >
            <div><img src="images/products/boys Watch.webp" alt=""></div>
        </div>
        <div class="eachservices222">luxury Boys Watches</div>
        </div>
    </a>

       <a href="/luxuryGirlsWatches">
        <div class="eachservices" style="width: 18rem; height: 22rem; padding: 1rem;"  >
        <div class="eachservices111" >
            <div><img src="images/products/luxury Girls Watches.webp" alt=""></div>
        </div>
        <div class="eachservices222">luxury Girls Watches</div>
        </div>
    </a>

       <a href="/allgoogles">
        <div class="eachservices" style="width: 18rem; height: 22rem; padding: 1rem;"  >
        <div class="eachservices111" >
            <div><img src="images/products/Luxury Gogles.webp" alt=""></div>
        </div>
        <div class="eachservices222">Luxury Gogles</div>
        </div>
    </a>


       <a href="/luxuryladishsbags">
        <div class="eachservices" style="width: 18rem; height: 22rem; padding: 1rem;"  >
        <div class="eachservices111" >
            <div><img src="images/products/luxury ladies bags.webp" alt=""></div>
        </div>
        <div class="eachservices222">luxury ladies Bags</div>
        </div>
    </a>
</div>


  <div style="display: flex; justify-content: center; align-items: center; margin-top: 3rem;">
   <div class="catagourypt3tab">
         <div class="catagoury1">  LUXURY SHOES BRANDS</div>
   </div>
</div>


  <div class="allservicesdes" style="display: flex; justify-content: center; align-items: center; gap: 1rem; margin-top: 2rem;">
    <a href="/adidas">
        <div class="eachservices" style="width: 11rem; height: 15rem; padding: 1rem;" >
        <div class="eachservices1111" >
            <div><img src="images/products/adidas.webp" alt=""></div>
        </div>
        <div class="eachservices222">adidas</div>
        </div>
    </a>

       <a href="/asics">
        <div class="eachservices" style="width: 11rem; height: 15rem; padding: 1rem;"  >
        <div class="eachservices1111" >
            <div><img src="images/products/asics.webp" alt=""></div>
        </div>
        <div class="eachservices222">asics</div>
        </div>
    </a>

       <a href="/nb">
        <div class="eachservices" style="width: 11rem; height: 15rem; padding: 1rem;"  >
        <div class="eachservices1111" >
            <div><img src="images/products/NB.webp" alt=""></div>
        </div>
        <div class="eachservices222">NB</div>
        </div>
    </a>


       <a href="/puma">
        <div class="eachservices" style="width: 11rem; height: 15rem; padding: 1rem;"  >
        <div class="eachservices1111" >
            <div><img src="images/products/puma.webp" alt=""></div>
        </div>
        <div class="eachservices222">puma</div>
        </div>
    </a>

           <a href="/reebok">
        <div class="eachservices" style="width: 11rem; height: 15rem; padding: 1rem;"  >
        <div class="eachservices1111" >
            <div><img src="images/products/Reebok.webp" alt=""></div>
        </div>
        <div class="eachservices222">Reebok</div>
        </div>
    </a>

           <a href="/hoka">
        <div class="eachservices" style="width: 11rem; height: 15rem; padding: 1rem;"  >
        <div class="eachservices1111" >
            <div><img src="images/products/hoka.webp" alt=""></div>
        </div>
        <div class="eachservices222">hoka</div>
        </div>
    </a>

    <a href="/nike">
        <div class="eachservices" style="width: 11rem; height: 15rem; padding: 1rem;"  >
        <div class="eachservices1111" >
            <div><img src="images/products/nike.jpg" alt=""></div>
        </div>
        <div class="eachservices222">nike</div>
        </div>
    </a>


</div>
</section>

<!-- ==================== Products -------------------------- Tab-->


<section class="bodycontanertab"> 

  <div style="display: flex; justify-content: center; align-items: center;">
   <div class="catagourypt3tab">
         <div class="catagoury1"> CATEGORIES</div>
   </div>
</div>


  <div class="allservicestab" style="display: flex; justify-content: center; align-items: center; gap: 2rem; padding: 1rem;">
    <a href="/luxuryBoysWatches">
        <div class="eachservices" style="width: 10rem; height: 20rem; padding: 1rem;" >
        <div class="eachservices111" >
            <div><img src="images/products/boys Watch.webp" alt=""></div>
        </div>
        <div class="eachservices2222">luxury Boys Watches</div>
        </div>
    </a>

       <a href="/luxuryGirlsWatches">
        <div class="eachservices" style="width: 10rem; height: 20rem; padding: 1rem;"  >
        <div class="eachservices111" >
            <div><img src="images/products/luxury Girls Watches.webp" alt=""></div>
        </div>
        <div class="eachservices2222">luxury Girls Watches</div>
        </div>
    </a>

       <a href="/allgoogles">
        <div class="eachservices" style="width: 10rem; height: 20rem; padding: 1rem;"  >
        <div class="eachservices111" >
            <div><img src="images/products/Luxury Gogles.webp" alt=""></div>
        </div>
        <div class="eachservices2222">Luxury Gogles</div>
        </div>
    </a>


       <a href="/luxuryladishsbags">
        <div class="eachservices" style="width: 10rem; height: 20rem; padding: 1rem;"  >
        <div class="eachservices111" >
            <div><img src="images/products/luxury ladies bags.webp" alt=""></div>
        </div>
        <div class="eachservices2222">luxury ladies bags</div>
        </div>
    </a>
</div>

  <div style="display: flex; justify-content: center; align-items: center;">
   <div class="catagourypt3tab">
         <div class="catagoury1"> LUXURY SHOES BRANDS</div>
   </div>
</div>

  <div class="allservicestab" style="display: flex; justify-content: center; align-items: center; gap: 2rem;">
 <a href="/adidas">
        <div class="eachservices" style="width: 14rem; height: 24rem; padding: 1rem;" >
        <div class="eachservices111" >
            <div><img src="images/products/adidas.webp" alt=""></div>
        </div>
        <div class="eachservices222">adidas</div>
        </div>
    </a>

       <a href="/asics">
        <div class="eachservices" style="width: 14rem; height: 24rem; padding: 1rem;"  >
        <div class="eachservices111" >
            <div><img src="images/products/asics.webp" alt=""></div>
        </div>
        <div class="eachservices222">asics</div>
        </div>
    </a>

       <a href="/reebok">
        <div class="eachservices" style="width: 14rem; height: 24rem; padding: 1rem;"  >
        <div class="eachservices111" >
            <div><img src="images/products/Reebok.webp" alt=""></div>
        </div>
        <div class="eachservices222">Reebok</div>
        </div>
    </a>
</div>


  <div class="allservicestab" style="display: flex; justify-content: center; align-items: center; gap: 2rem;">
 <a href="/hoka">
        <div class="eachservices" style="width: 14rem; height: 24rem; padding: 1rem;" >
        <div class="eachservices111" >
            <div><img src="images/products/hoka.webp" alt=""></div>
        </div>
        <div class="eachservices222">hoka</div>
        </div>
    </a>

       <a href="/nb">
        <div class="eachservices" style="width: 14rem; height: 24rem; padding: 1rem;"  >
        <div class="eachservices111" >
            <div><img src="images/products/NB.webp" alt=""></div>
        </div>
        <div class="eachservices222">nb</div>
        </div>
    </a>

       <a href="/puma">
        <div class="eachservices" style="width: 14rem; height: 24rem; padding: 1rem;"  >
        <div class="eachservices111" >
            <div><img src="images/products/puma.webp" alt=""></div>
        </div>
        <div class="eachservices222">puma</div>
        </div>
    </a>

     
</div>

  <div class="allservicestab" style="display: flex; justify-content: center; align-items: center; gap: 2rem;">
 <a href="/nike">
        <div class="eachservices" style="width: 14rem; height: 24rem; padding: 1rem;" >
        <div class="eachservices111" >
            <div><img src="images/products/nike.jpg" alt=""></div>
        </div>
        <div class="eachservices222">nike</div>
        </div>
    </a>
  </div>

</section>

<!-- ==================== Products -------------------------- Mob-->


<section class="bodycontanermob"> 




  <div style="display: flex; justify-content: center; align-items: center; margin-bottom: 2rem">
   <div class="catagourypt3tab">
         <div class="catagoury1"> CATEGORIES</div>
   </div>
</div>


  <div class="allservicesmob">
    <a href="/luxuryBoysWatches">
        <div class="eachservices" style="width: 160px; height: 200px;">
        <div class="eachservices1" >
             <div><img src="images/products/boys Watch.webp" alt=""></div>
        </div>
        <div class="eachservices2" style="top: 1rem;">Luxury Boys Watches</div>
        </div>
    </a>

    <a href="/luxuryGirlsWatches">
        <div class="eachservices" style="width: 160px; height: 200px;">
        <div class="eachservices1">
            <div><img src="images/products/luxury Girls Watches.webp" alt=""></div>
        </div>
        <div class="eachservices2" style="top: 1rem;">luxury Girls Watches</div>
        </div>
    </a>
</div>


  <div class="allservicesmob">
    <a href="/allgoogles">
        <div class="eachservices"  style="width: 160px; height: 200px;">
        <div class="eachservices1" >
             <div><img src="images/products/Luxury Gogles.webp" alt=""></div>
        </div>
        <div class="eachservices2" style="top: 1rem;">Luxury Gogles</div>
        </div>
    </a>

    <a href="/luxuryladishsbags">
        <div class="eachservices" style="width: 160px; height: 200px;">
        <div class="eachservices1">
            <div><img src="images/products/luxury ladies bags.webp" alt=""></div>
        </div>
        <div class="eachservices2" style="top: 1rem;">luxury ladies Bags</div>
        </div>
    </a>
</div>

  <div style="display: flex; justify-content: center; align-items: center; margin-bottom: 2rem">
   <div class="catagourypt3tab">
         <div class="catagoury1"> LUXURY SHOES BRANDS</div>
   </div>
</div>

  <div class="allservicesmob">
    
    <a href="/adidas">
        <div class="eachservices" >
        <div class="eachservices1" >
           <div><img src="images/products/adidas.webp" alt=""></div>
        </div>
        <div class="eachservices2">Adidas</div>
        </div>
    </a>

    <a href="/asics">
        <div class="eachservices">
        <div class="eachservices1">
           <div><img src="images/products/asics.webp" alt=""></div>
        </div>
        <div class="eachservices2">Asics</div>
        </div>
    </a>

    <a href="/nb">
        <div class="eachservices">
        <div class="eachservices1">
            <div><img src="images/products/NB.webp" alt=""></div>
        </div>
        <div class="eachservices2">NB</div>
        </div>
    </a>
</div>

  <div class="allservicesmob" style="">
    <a href="/hoka">
        <div class="eachservices">
        <div class="eachservices1">
             <div><img src="images/products/hoka.webp" alt=""></div>
        </div>
        <div class="eachservices2">hoka</div>
        </div>
    </a>

    <a href="/puma">
        <div class="eachservices">
        <div class="eachservices1">
             <div><img src="images/products/puma.webp" alt=""></div>
        </div>
        <div class="eachservices2">puma</div>
        </div>
    </a>

    <a href="/reebok">
        <div class="eachservices">
        <div class="eachservices1">
             <div><img src="images/products/Reebok.webp" alt=""></div>
        </div>
        <div class="eachservices2">reebok</div>
        </div>
    </a>

    
</div>

  <div class="allservicesmob" style="">
    <a href="/nike">
        <div class="eachservices">
        <div class="eachservices1">
             <div><img src="images/products/nike.jpg" alt=""></div>
        </div>
        <div class="eachservices2">nike</div>
        </div>
    </a>
  </div>



  <div style="display: flex; justify-content: center; align-items: center; margin-bottom: 2rem">
   <div class="catagourypt3tab">
         <div class="catagoury1"> SLIPERS</div>
   </div>
</div>



  <div class="allservicesmob">
    <a href="/crocs">
        <div class="eachservices" style="width: 160px; height: 200px;">
        <div class="eachservices1" >
             <div><img src="images/products/Crocs.webp" alt=""></div>
        </div>
        <div class="eachservices2" style="top: 1rem;">Crocs</div>
        </div>
    </a>

    <a href="/sliders">
        <div class="eachservices" style="width: 160px; height: 200px;">
        <div class="eachservices1">
            <div><img src="images/products/Sliders.webp" alt=""></div>
        </div>
        <div class="eachservices2" style="top: 1rem;">Sliders</div>
        </div>
    </a>
</div>






</section>

<!-- ================================================================== -->


  <div style="display: flex; justify-content: center; align-items: center; margin-bottom: 2rem">
   <div class="catagourypt3tab">
         <div class="catagoury1"> About Us</div>
   </div>
</div>


    <section class="px-4">
        <div class="max-w-7xl mx-auto grid grid-cols-1 md:grid-cols-2 gap-12 items-center">

              <div class="relative">
                <div class="absolute inset-0 bg-brand-light rounded-full opacity-30 blur-3xl animate-pulse"></div>
                <img src="images/products/Shop.webp" alt="Hero Product" class="relative z-10 w-full rounded-3xl shadow-2xl border-4 border-white transform rotate-2 hover:rotate-0 transition duration-500">
            </div>


            <div class="space-y-6">
                <span class="inline-block px-4 py-1 rounded-full bg-white text-brand-dark text-sm font-semibold shadow-sm border border-brand-light">
                    Spring Collection 2025
                </span>
                <h1 class="text-3xl md:text-7xl font-bold leading-tight text-brand-dark">
                    👟 Rider Shoes Point<br>
                    <span class="text-gradient"></span>
                </h1>
                <p class="text-lg text-gray-600 max-w-md">
                   Rider Shoes Point is your ultimate destination for stylish, high-quality footwear and apparel, founded on a passion for comfort and fashion. 
                   We offer a wide range of shoes, from casual to formal, and a clothing line featuring trendy pieces. 
                   Committed to exceptional customer service, we blend fashion with functionality, helping you express your unique style effortlessly.
                </p>
                <div class="flex gap-4 pt-4">
                    <button class="px-8 py-3 bg-brand-dark text-white rounded-full font-semibold shadow-lg hover:bg-brand-accent hover:shadow-xl transition transform hover:-translate-y-1">
                        Shop Now
                    </button>
                </div>
            </div>
        </div>

    </section>
    
    <section class="video" style="display:flex; justify-content:center; margin-top: 3rem;">

        <iframe width="95%" height="220" src="https://www.youtube.com/embed/MdnaB0TdGX0?si=pKBylGueeZDq68-e" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        
    </section>



<!-- ================================== Footer Start ===================================== -->

<footer class="footer">
  <div class="footer-container">

        <!-- Social icons -->
    <div class="social-icons">
      <a href="https://www.facebook.com/people/Rider-Point/100093645953028/?rdid=fqUg0qUNMZ2bMmLX&share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2F12Kmn9poGWZ%2F" class="facebook"><i class="fab fa-facebook-f"></i></a>
      <a href="https://www.instagram.com/ridershoespoint171/?igsh=ZnU1cG5jbjN6NmFu#" class="instagram"><i class="fab fa-instagram"></i></a>
      <!-- <a href="https://www.linkedin.com/in/rt-solution-7200a838b?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" class="linkedin"><i class="fab fa-linkedin-in"></i></a> -->
      <a href="https://www.youtube.com/@riderpoint171" class="pinterest"><i class="fab fa-youtube"></i></a>
    </div>

    <!-- Links -->
    <div class="infos">
      <a href="aboutus.html" class="footer-link">About Us</a>
      <a href="contactus.html" class="footer-link">Contact Us</a>
      <a href="privacypolicy.html" class="footer-link">Privacy Policy</a>
      <a href="termscondition.html" class="footer-link">Terms & Conditions</a>
      <a href="dmca.html" class="footer-link">DMCA</a>
    </div>

    <!-- Copyright -->
    <div class="copyright">
      © 2025 Ridershoes | All Rights Reserved
    </div>

  </div>
</footer>


 <div class="whatsapp">
   <a href="https://wa.me/917462844102?text=Hello!%20I%20want%20to%20know%20more%20about%20your%20services." target="_blank">
        <div class="whatsapp1"></div>
    </a>
 </div>

 </div>

</body>
</html>